@using WebRazorPages.Models
@model Product
<div class="card my-4" style="width: 20rem">
    <h2 class="card-header text-info">@Model.Name</h2>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>
        <a href="#" class="btn btn-secondary btn-sm">Dat hang</a>
    </div>
</div>