@using WebRazorPages.Models;
@model List<Product>
<ul class="list-group">
    @foreach(var product in Model)
    {
        @* <li class="list-group-item">
            @product.Name (<strong>@product.Price</strong>)
        </li> *@
        <partial name="_ProductItem" model="product" />
    }
</ul>